# vagrant-centos-7-php configuration
 
# static ip address for the boxes nat interface
#
# Default: null -> uses dhcp to obtain an ip address

Box::Config::ipAddr = "192.168.50.20"

# source directory to share with guest
#
# Default: ENV['HOME']

Box::Config::syncDirHost = ENV['HOME']

# target directory where shared dir will be made available
#
# Default: ENV['HOME']

Box::Config::syncDirGuest = ENV['HOME']

# xDebug session key for the IDE
# for more information: http://xdebug.org/docs/remote
#
# Default: XDEBUG_SESSION
Box::Config::xdebugIdeKey = "XDEBUG_SESSION"

# change timezone check /usr/share/zoneinfo/*/*
#
# Default: /usr/share/zoneinfo/Europe/Zurich
Box::Config::GuestTimeZone = "/usr/share/zoneinfo/Europe/Zurich"
